* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    list-style-type: none;
}
header {
    background-color: rgb(220, 217, 198);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    width: 200px;
    height: 200px;
    gap: 20px;
}

.navbar-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding: 20px;
}
.navbar-list a {
    color: var(--text-black);
    font-size: 15px;
}
.cart-icon {
    width: 30px;
}
