* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    list-style-type: none;
}
header {
    background-color: rgb(220, 217, 198);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    width: 200px;
    height: 200px;
    gap: 20px;
}
.navbar-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding: 20px;
}
.navbar-list a {
    color: var(--text-black);
    font-size: 15px;
}
.cart-icon {
    width: 30px;
}

.container {
    display: flex;
    background-color: beige;
  }

.container-text {
    display: inline-block;
    margin-left: 40px;
    margin-right: 10px;   
}
.container-text p {
    margin-bottom: 20px;
}

button {
    border-radius: 50px;
    width: 150px;
    height: 40px;
    font-size: 16px;
    background-color: rgb(252, 249, 249);
    color: rgb(5, 5, 5);
}

button:hover {
    background-color: rgb(12, 12, 12);
    color: white;
  }

.container-img {
    width: 800px;
    height: 450px;
    margin-top: 20px;
    margin-right: 40px;
    margin-bottom: 10px;
    margin-left: 30px;
}
.hero-img {
    width: 650px;
    height: 420px;
}
.slogan {
    font-size: 3rem;
    margin-top: 20px;
    margin-bottom: 20px;
  }
h2 {
    text-align: center;
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 15px;
    justify-content: center;
}

#info {
    padding: 50px;
    max-width: 1800px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: beige;
    gap: 80px;
}

#info h2 {
    font-size: 32px;
    font-weight: 800;  
}

.info-cards-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 20px;
}

.info-card {
    width: 300px;
    height: 290px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: white;
    border-radius: 20px;
    gap: 20px;
}

.info-card img {
    width: 80px;
}

.info-card h3 {
    font-weight: 600;
    font-size: 20px;
}

.info-card p {
    font-size: 15px;
    font-weight: 300;
}

#contacts {
    display: flex;
    flex-direction: column;
    float: left;
    gap: 30px;
    padding: 10px;
}
.redes-contactos {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.redes-sociales img {
    float: left;
    margin-left: 70px;
    margin-right: 10px;
    width: 50px;
}
.contact-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contact-container img {
    float: left;
    margin-left: 70px;
    margin-right: 10px;
    width: 25px;
}
#iframe {
    float: right;
    margin-left: 30px;
    margin-right: 70px;
    margin-top: 10px;
}

footer {
    background-color: rgb(220, 217, 198);
    padding: 20px;
    text-align: center;
    margin-top: 320px;
    height: 180px;
  }
  
  .footer-content {
    display: inline-block;
  }
  
  .footer-content img {
    max-width: 100%;
    height: 150px;
  }



 



  
  
  
  